

@import 'fonts';

body {
    background: rgb(184, 177, 177);
}

#wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 800px;
    top: 0px;
    background-color: black;
    overflow: hidden;

    #interactive-container {
        position: absolute;
        height: 800px;
        width: 450px;
        top: 0px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
        line-height: 18px;
      //  overflow: hidden !important;
        display: none;

        .description {
            height: auto;
            position: absolute;
            color: white;
            font-size: 12px;
            background-color: black;
            padding: 20px 40px;
            box-sizing: border-box;
           // clip-path: polygon(0% 0%, 95% 0%, 100% 100%, 5% 100%);
            font-family: 'Gotham Book';
            text-transform: uppercase;
            -webkit-font-smoothing: antialiased;
            visibility: hidden;
            bottom: 30px;
            left: 0px;
            width: 100%;
            text-align: center;
        }


        #canvas {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden !important;
        }


        .btn-style {
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
            background-image: url(../assets/images/hs.png);
            background-color: unset;
            border: unset;
            user-select: none;
            cursor: pointer;
            position: absolute;
        }
        
        .close-btn-style{
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
            background-image: url(../assets/images/cloneBtn.png);
            background-color: unset;
            border: unset;
            user-select: none;
            cursor: pointer;
            position: absolute;
            z-index: 99999;
            visibility: hidden;
            top: 40px;
            right: 40px;
        }
        
        #hs-0 {
          top: 490px;
          left: 270px;
        }
        
         #hs-1 {
          top: 440px;
          left: 150px;
        }
        
         #hs-2 {
          top: 316px;
          left: 188px;
        }
        
         #hs-3 {
          top: 270px;
          left: 50px;
        }
        
    }
}
    

