
// var unitWidth = 324;
// var unitHeight = 576;


@import 'fonts';

body {
    background: rgb(184, 177, 177);
    margin: 0px;
}

#wrapper-mobile {
    position: relative;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 576px;
    top: 0px;
    background-color: black;
    overflow: hidden;

    #m-interactive-container {
        position: absolute;
        height: 576px;
        width: 324px;
        top: 0px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
        line-height: 18px;
      //  overflow: hidden !important;
        display: none;

        .description {
            height: auto;
            position: absolute;
            color: white;
            font-size: 11px;
            background-color: black;
            padding: 20px 0px;
            box-sizing: border-box;
           // clip-path: polygon(0% 0%, 95% 0%, 100% 100%, 5% 100%);
            font-family: 'Gotham Book';
            text-transform: uppercase;
            -webkit-font-smoothing: antialiased;
            visibility: hidden;
            bottom: 30px;
            left: 0px;
            width: 100%;
            text-align: center;
        }


        #canvas-m {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            margin-left: auto;
            margin-right: auto;
            overflow: hidden !important;
        }


        .btn-style {
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
            background-image: url(../assets/images/hs.png);
            background-color: unset;
            border: unset;
            user-select: none;
            cursor: pointer;
            position: absolute;
        }
        
        .close-btn-style{
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
            background-image: url(../assets/images/cloneBtn.png);
            background-color: unset;
            border: unset;
            user-select: none;
            cursor: pointer;
            position: absolute;
            z-index: 99999;
            visibility: hidden;
            top: 30px;
            right: 30px;
        }
        
        #m-hs-0 {
          top: 365px;
          left: 199px;
        }
        
         #m-hs-1 {
          top: 312px;
          left: 99px;
        }
        
         #m-hs-2 {
          top: 237px;
          left: 142px;
        }
        
         #m-hs-3 {
          top: 210px;
          left: 36px;
        }
        
    }
}

.placeholder {
    width: 100%;
    height: 200px;
    background-color: rgb(36, 35, 35);
    color: rgb(117, 117, 117);
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    font-size: 12px;
    line-height: 15px;
}
    

